@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html {
  font-family: "Nunito";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  border: solid 10px #fcd864;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  scroll-behavior: smooth;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #fcd864;
}
